USE [AutomatedGradingFeedback]
GO
/****** Object:  Table [dbo].[AssignmentsContainedFiles]    Script Date: 9/18/2025 12:36:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentsContainedFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FolderId] [uniqueidentifier] NULL,
	[FileName] [nvarchar](255) NULL,
	[FileBlobUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentsFolderUploads]    Script Date: 9/18/2025 12:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentsFolderUploads](
	[FolderId] [uniqueidentifier] NOT NULL,
	[FolderName] [nvarchar](255) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[BlobUrl] [nvarchar](2083) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyMaterialContainedFiles]    Script Date: 9/18/2025 12:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyMaterialContainedFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FolderId] [uniqueidentifier] NULL,
	[FileName] [nvarchar](255) NULL,
	[FileBlobUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudyMaterialFolderUploads]    Script Date: 9/18/2025 12:36:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudyMaterialFolderUploads](
	[FolderId] [uniqueidentifier] NOT NULL,
	[FolderName] [nvarchar](255) NOT NULL,
	[Response] [nvarchar](max) NULL,
	[BlobUrl] [nvarchar](2083) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignmentsFolderUploads] ADD  DEFAULT (newid()) FOR [FolderId]
GO
ALTER TABLE [dbo].[AssignmentsFolderUploads] ADD  DEFAULT ((0)) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[AssignmentsFolderUploads] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[StudyMaterialFolderUploads] ADD  DEFAULT (newid()) FOR [FolderId]
GO
ALTER TABLE [dbo].[StudyMaterialFolderUploads] ADD  DEFAULT ((0)) FOR [IsProcessed]
GO
ALTER TABLE [dbo].[StudyMaterialFolderUploads] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
